@model IEnumerable<LMS_Lexicon.Core.Models.Entities.Course>

    @{
    ViewData["Title"] = "Edit";
    }


    <p>
        <a>Course Details</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div>
        <a asp-action="Index">Back</a>
    </div>
