@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        {
            var currentrole = User.IsInRole("Student") ? "Student" : User.IsInRole("Teacher") ? "Lärare" : "";
            <li class="nav-item py-md-4 px-md-2 font-weight-bold py-md-4">
                <a class="nav-link text-dark">@currentrole</a>
            </li>
        }
        <li class="nav-item py-md-4 px-md-2">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item py-md-4 px-md-2">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Student", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark font-weight-bold">Logga ut</button>
            </form>
        </li>

    }
    else
    {
        @*<li class="nav-item py-md-2 px-md-2">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrera</a>
        </li>*@
        <li class="nav-item py-md-2 px-md-2">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
        </li>
    }
</ul>
