@model IndexViewModel
@inject ICourseSelectService courseSelect

@{
    ViewData["Title"] = "Index";
    var StudentExists = TempData["StudentExists"];
    var StudentSuccess = TempData["StudentSuccess"];
}
<div id="addStudent"></div>

<h1>Studenter</h1>
<br />
<p>
    <a asp-action="CreateStudent" class="btn btn-success text-white popup" data-ajax="true" data-ajax-method="GET" data-ajax-success="Ok" data-ajax-update="#addStudent" data-ajax-mode="replace"> Lägg till student <i class="fa fa-plus"></i></a>
</p>

<div id="UsersList">
    <partial name="UsersPartial" model="@Model.UserList" />
</div>
@section Scripts {
    <script src="~/js/site.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


