@model IEnumerable<AuthorsDto>

@{
    ViewData["Title"] = "API-Index";
}

<h1>API-Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Age)*@
                Age
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Literature)*@
                Literature
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Literatures)
                </td>
            </tr>
        }
    </tbody>
</table>
